<!DOCTYPE html>
<html>
  <head>
    <title>Update <%= @recipe.name %></title>
  </head>
  <body>
    <h1>Update <%= @recipe.name %></h1>
      <div class="update">
        <form action="/recipes/<%= @recipe.id %>" method="POST">
          <input id="hidden" type="hidden" name="_method" value="patch">
          <label>Name:</label><br>
          <input id="name" type="text" name="name" value="<%= @recipe.name %>"><br>
          <label>Ingredients:</label><br>
          <input id="ingredients" type="text" name="ingredients" value="<%= @recipe.ingredients %>"><br>
          <label>Cook Time:</label><br>
          <input id="cook time" type="text" name="cook_time"><br>
          <input type="submit" value="submit">
        </form>
      </div>
    </body>
  </html>
